@tailwind base;
@tailwind components;
@tailwind utilities;

* , h1{
    font-family: 'Kosugi Maru', sans-serif;
}

h1 {
    margin-top: 110px; 
    text-align: center;
}

.credit{
    list-style: none;
    text-decoration: none;
    text-align: end;
    padding-right: 50px;
    font-size: 20px;
}

a.button{
    margin-top: 2rem;
}

body{
    background-color: #ffcccc;
}
.welcome{
    margin: 0;      
    height: 100vh;  
    overflow: hidden;  
}
.welcome-a{
    width: 230px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s;
    font-size: 16px;
    margin: 5px 0;
}

.about{
    color: rgb(109, 101, 101);
}

.text-container{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    height: 100vh;
    background-color: #ffcccc;
}

.bg-custom{
    background-color: #555;
}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}
.dropdown-menu{
    background-color: #343a40;
    border: none;
}
.dropdown-item{
    color: #ffffff;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.container{
    display: flex;           
    justify-content: center; 
    align-items: center;     
    flex-direction: column; 
    padding: 0 20px; 
    max-width: 1400px; 
    min-height: 100vh;
    margin: 0 auto; 
    background-color: #ffcccc;
    border-radius: 20px;
}
.top-container{
    display: flex;           
    justify-content: center; 
    align-items: center;     
    flex-direction: column; 
    padding: 0 20px; 
    max-width: 1400px; 
    margin: 0 auto; 
    background-color: #ffcccc;
    border-radius: 20px;
}
.container h1{
    margin-top: 4rem;
}
.container h2{
    margin-top: 2rem;
}

.navbar{
    opacity: 0.9;
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;  
}

.container .recipe-card a {
    text-decoration: none; 
    color: inherit;        
    display: inline-block;        
    padding: 0;            
    background-color: transparent;  
    border-radius: 0;     
    border: none;         
    transition: none;     
    font-size: inherit;   
    margin: 0;            
}

.container a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s;
    font-size: 16px;
    margin: 5px 0;
}


.centered-link {
    display: block;
    text-align: center;
    margin: 0 auto;
}
label {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.image-container img {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: middle; 
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
   height: 100%;
}
.image-container{
    margin: 0;
    padding: 0;
}
.hidden-input {
    display: none;
}
.image-container {
    width: 128px;
    height: 128px;
    position: relative;
    margin-bottom: 20px;
}

.inactive-image {
    display: block;
}
.active-image {
    display: none;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
button[type="submit"] {
    margin: auto;
    display: block;
}



/* ラジオボタンが選択されたら、画像を非表示にし、active状態の画像を表示 */
.hidden-input:checked + .image-container .inactive-image {
    
    display: none;
}

.hidden-input:checked + .image-container .active-image {
    display: block;
}

img.responsive-image {
    width: 90%;
    height: 50%;  
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 10px;
  }

  .material-container {
    max-height: calc(1.5em * 5); 
    overflow-y: auto; 
    
    background-color: #ffffff33;
    border-radius: 10px;
    margin-bottom: 20px; 
}

/* スクロールバーカスタマイズ */
.material-container::-webkit-scrollbar {
    width: 10px;
}

.material-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;

}

.material-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

.text-center {
    text-align: center;
}

.button{
    display: inline-block;
    width: 200px;            
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    text-align: center;
    margin: 20px 0 auto; 

}


.recipe-title {
    font-size: 18px;
    margin-bottom: 12px;
}

.recipe-image {
 
    width: 160px;
    height: 140px;
    object-fit: cover;
}

.recipe-description {
    font-size: 14px;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}



.recipe-card {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #e2e8f0;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
    margin-bottom: 20px; 
}

.content-wrapper {
    display: flex; 
    gap: 20px;
    flex: 1; 
    align-items: center; 
}

.alert-danger {
    color: #bd1e2e;
    background-color: #f3979f;
    border-color: #f5c6cb;
}

.recipe-text-content {
    padding: 10px;
}


.list-none{
    padding: 0;
}

.recipe-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    flex-shrink: 0;
}

.recipe-text-content {
    flex-grow: 1;
    /* padding-left: 1em; */
    flex-basis: 70%;  
}

.recipe-text-content h2{
    margin-top: 0;
}


/* 通常のボタン */
.button {
    background-color: #3490dc;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2779bd;
}

.delete-button {
    background-color: #dc3434;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1em;
    width: 120px;
}
.favorite-button {
    background-color: #3490dc;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1em;
    width: 120px;
}
.favorite-button:hover {
    background-color: #2779bd;
}

.section {
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: 0 4px 20px 12px rgba(0, 0, 0, 0.2);
    width: 90%; 
    max-width: 1300px; 

}

.title {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.scroll-container {
    max-height: calc(2.5 * 150px);  
    overflow-y: auto;
}

/* 共通のスタイル */
.modal-dialog {
    max-width: 90%;
}

textarea[name="memo"] {
    width: 100%; 
    max-width: 100%; 
    
}

/* 画面の幅が最大519pxのときのスタイル */
@media (max-width: 519px) {
    .credit{
        padding-right: 10px;
    }
    .recipe-card {
        justify-content: center;
    }

    .recipe-text-content {
        text-align: center;
    }

    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
    .recipe-image {
        margin-bottom: 10px;
        width: 210px;
        height: 145px;
    }
    .top-container{
        height: 140px;
    }
}

/* 画面の幅が500px以上767px以下のときのスタイル */
@media (min-width: 520px) and (max-width: 767px) {
    /* この範囲で特有のスタイルを追加 */
    /* 例： */
    .modal-dialog {
        max-width: 80%;
        margin: 1.5rem auto;
    }
    .top-container{
        height: 350px;
    }
}

/* 画面の幅が768px以上のときのスタイル */
@media (min-width: 768px) {
    .modal-dialog {
        max-width: 80%;
        margin: 1.5rem auto;
    }
    .recipe-image {
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
    }
    .top-container{
        height: 350px;
    }
}

/* 画面の幅が1024px以上のときのスタイル */
@media (min-width: 1024px) {
    .modal-dialog {
        max-width: 80%;
        margin: 1.5rem auto;
    }
    .recipe-image {
        width: 170px;
        height: 170px;
    }
    .top-container{
        height: 450px;
    }
}

/* 画面の幅が1440px以上のときのスタイル */
@media (min-width: 1440px) {
    .modal-dialog {
        max-width: 80%;
        margin: 1.5rem auto;
    }
    .recipe-image {
        width: 200px;
        height: 200px;
    }

    .top-container{
        height: 650px;
    }
}